*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  height: 30px;
}
header.menu {
  width: 100%;
  height: 3em;
  box-shadow: 0 1px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-main {
  margin-right: 10px;
  margin-left: 10px;
}
.menu-profile {
  /* display: flex;
  justify-content: ; */
  margin-right: 10px;
  margin-left: 10px;
}
.active-link {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}
.btn-logout {
  /* display: inline; */
  margin-left: 10px;
}
.App {
  margin: 0px;
}
.add_contact,
.registration,
.login {
  margin-top: 20px;
  width: 300px;

  margin-left: 50%;
  transform: translate(-50%);
  display: inline-block;
  padding: 20px;
  border: 1px solid green;
}

h2 {
  text-align: center;
}

.contact_list,
.filter_contacts {
  margin-left: 50%;
  transform: translate(-50%);
  /* text-align: center; */
  width: 500px;
  /* margin-left: auto;
  margin-right: auto; */
}
.form_add_contact {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 2px;
  display: block;
}
.btn {
  margin-top: 20px;
  width: 50%;
}
.name_field::after {
  content: '';
}
.name_field {
  position: relative;
}
.name_field1:focus ~ .name_svg {
  color: #3f51b5;
  transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.name_svg {
  position: absolute;
  right: 90px;
  /* top: 2px; */
  top: 50%;
  transform: translateY(-50%);
}
.change_btn {
  margin-left: 20px;
}
